nav.navbar>div.container {
  width: 100%;
  padding: 0px 25px;
}

.navbar-right .search-loading {
  width: 40px;
  color: #fff;
  font-size: 1.3em;
  display: inline-block;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

/* Navbar Collapse */
@media(max-width: 667px) {
  body {
    background: pink;
  }
  ul.nav > li {
    text-align: right;
  }

  nav input.form-control {
    display: inline-block;
    width: 65%;
  }
}
