<div class="container">

  <!--  View Projects -->
  <div *ngIf="!formConfig">

    <!--  Controls -->
    <div class="project-controls-container">
      <button class="btn btn-sm btn-primary" (click)="addProject()">Add New Project</button>
    </div>

    <!--  List of Projects -->
    <div class="projects-container">
      <h3>Existing Projects</h3>
      <table class="table">
        <tr *ngFor="let project of projectList, let i = index">
          <td>Some Project</td>
          <td class="width-25 pointer">Edit</td>
        </tr>
        <tr *ngIf="!projectList.length">
          <td>No projects, add a project to get started</td>
        </tr>
      </table>
    </div>

  </div>


  <!--  Add/Edit Projects -->
  <app-project-form *ngIf="formConfig" (formSubmitted)="submitForm($event, formData)" (formCancelled)="cancelForm()" [formData]="formData" [formConfig]="formConfig">
  </app-project-form>

</div>
