<div class="container">

  <div class="row">
    <div>
      <label>Search Categories</label>
      <input class="form-control text-filter" [(ngModel)]="searchText">
    </div>
    <div>
      <button class="btn btn-default btn-sm clear-filter-btn" (click)="clearFilters()">Clear</button>
    </div>
  </div>

  <div class="category-card-container" (window:resize)="onResize($event)">
    <div *ngFor="let category of categoryList | filter : searchText" class="category-card panel panel-default">
      <div class="panel-body">
        <span class="text-center">{{category.name}}<br />{{category.instances}}</span>
      </div>
    </div>
  </div>

</div>
