<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th>Category</th>
        <th colspan="2">Instances</th>
      </tr>
    </thead>
    <tr *ngFor="let category of categoryList">
      <td>{{ category.name }}</td>
      <td>{{ category.instances }}</td>
      <td><button class="btn btn-sm btn-primary" (click)="outputCategory(category)">View Work</button></td>
    </tr>
    <tr *ngIf="!categoryList.length">
      <td>There are no categories!</td>
    </tr>
  </table>

</div>
