<div class="container">

  <div class="col-sm-12">

    <div class="col-sm-4">
      <label>Filter By Text</label>
      <input class="form-control text-filter" [ngModel]="searchText" (ngModelChange)="textFilterChange($event)">
    </div>

    <div class="col-sm-4">
      <label>Sort By:</label>
      <select class="form-control" name="courseFilter" (change)="courseFilterChange(courseFilter)" [(ngModel)]="courseFilter">
        <option>All</option>
        <option *ngFor="let course of courseList" [textContent]="course"></option>
      </select>
    </div>

    <div class="col-sm-4">
      <button class="btn btn-default btn-sm clear-filter-btn" (click)="clearFilters()">Clear Filters</button>
    </div>

  </div>

  <div class="col-sm-12">

    <div class="category-card-container" (window:resize)="onResize($event)" (mouseleave)="resetScale()">
      <div *ngFor="let category of filteredCategoryList" class="category-card panel panel-default">
        <div class="panel-body">
          <span class="text-center">{{category.name}}<br />{{category.instances}}</span>
        </div>
      </div>
    </div>

  </div>



</div>
