.search-results-container > ol {
  font-size: 1.3em;
}

.right-side-panel {
  z-index: 10;
  width: 400px;
  height: 100%;
  position: fixed;
  top: 50px;
  right: -400px;
  -webkit-transition: transform 250ms; /* Safari */
  transition: transform 250ms;
}

.right-side-panel > .panel-body {
  top: 75px;
}

.right-side-panel.visible {
  transform: translateX(-400px);
}

.panel-body > ol {
  font-size: 1.2em;
  padding-left: 25px;
}

/* Navbar Collapse */
@media(max-width: 667px) {
  .right-side-panel {
    width: 100%;
    height: auto;
    padding-botom: 50px;
    top: -100px;
    left: 0px;
  }
  /* 210px offset clears the navbar */
  .right-side-panel.visible {
    transform: translateY(310px);
  }
}
