<div class="container">

  <div class="home-menu-container">

    <div class="home-card panel panel-default" (click)="navigate('project-list')">
      <div class="panel-body text-center">
        <h2>Projects</h2>
      </div>
    </div>
    <div class="home-card panel panel-default" (click)="navigate('course-list')">
      <div class="panel-body text-center">
        <h2>Courses</h2>
      </div>
    </div>
    <div class="home-card panel panel-default" (click)="navigate('category-list')">
      <div class="panel-body text-center">
        <h2>Categories</h2>
      </div>
    </div>

  </div>

  <div class="search-results-container" *ngIf="searchResults.length">
    <h2>Search Results</h2>
    <ol>
      <li *ngFor="let result of searchResults">
        <a href=""><span [textContent]="result.name"></span></a>
      </li>
    </ol>

  </div>


</div>
