<div class="container">

  <div class="home-menu-container">

    <div class="home-card panel panel-default" (click)="navigate('project-list')">
      <div class="panel-body text-center">
        <h2>Projects</h2>
      </div>
    </div>
    <div class="home-card panel panel-default" (click)="navigate('course-list')">
      <div class="panel-body text-center">
        <h2>Courses</h2>
      </div>
    </div>
    <div class="home-card panel panel-default" (click)="navigate('category-list')">
      <div class="panel-body text-center">
        <h2>Categories</h2>
      </div>
    </div>

  </div>

  <button class="btn btn-primary btn-sm" (click)="initCollection()">init collection</button>


</div>
