<div class="container">

  <div class="col-sm-12">

    <div class="col-sm-4">
      <label>Filter By Text:</label>
      <input class="form-control text-filter" [ngModel]="searchText" (ngModelChange)="textFilterChange($event)">
    </div>

    <div class="col-sm-4 sort-container">
      <label>Sort By:</label>
      <select class="form-control" name="sortParam" (change)="sortCourses(sortParam)" [(ngModel)]="sortParam">
        <option *ngFor="let sortItem of sortOptions" [textContent]="sortItem"></option>
      </select>
      <span class="btn btn-default btn-sm glyphicon glyphicon-sort" (click)="reverseSort()"></span>
    </div>

    <div class="col-sm-4">
      <button class="btn btn-default btn-sm clear-filter-btn" (click)="clearFilters()">Clear Filters</button>
    </div>

  </div>

  <div class="col-sm-12">

    <div class="course-card-container" (window:resize)="onResize($event)" (mouseleave)="resetScale()">
      <div *ngFor="let course of filteredCourseList" class="course-card panel panel-default">
        <div class="panel-body">
          <span class="text-center">{{course.title}}<br />{{course.year}}</span>
        </div>
      </div>
    </div>

  </div>



</div>
