<div class="container">

  <!--  View Courses -->
  <div *ngIf="!formConfig.loading && !formConfig.title">

    <!--  Controls -->
    <div class="project-controls-container">
      <button class="btn btn-sm btn-primary" (click)="displayNewCourseForm()">Add New Course</button>
    </div>

    <!--  List of Projects -->
    <div class="courses-container">
      <h3>Existing Courses</h3>
      <table class="table">
        <tr *ngFor="let course of courseList">
          <td [innerText]="course.title"></td>
          <td [innerText]="course.semester"></td>
          <td [innerText]="course.year"></td>
          <td class="width-25 pointer" (click)="displayEditCourseForm(course)">Edit</td>
        </tr>
        <tr *ngIf="!courseList.length">
          <td>No courses, add a course to get started</td>
        </tr>
      </table>
    </div>

  </div>


  <!--  Add/Edit Courses -->
  <app-course-form *ngIf="!formConfig.loading && formConfig.title" (formSubmitted)="submitForm($event, formData)" (formCancelled)="cancelForm()" (courseDeleted)=deleteCourse(formData) [formData]="formData" [formConfig]="formConfig">
  </app-course-form>

</div>
